@using System.Security.Claims;

@if (!User.Identities.Any(u => u.IsAuthenticated))
{
    <h1>Hello from Home/User</h1>
}
else
{
    <h1>
        Hello @User.Identities.First(
 u => u.IsAuthenticated &&
 u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value
        Your Role is: @User.Identities.First(
u => u.IsAuthenticated &&
u.HasClaim(c => c.Type == ClaimTypes.Role)).FindFirst(ClaimTypes.Role).Value
        
    </h1>
}